<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>openCRX ICal service</display-name>
	<servlet>
		<servlet-name>FreeBusyServlet</servlet-name>
		<servlet-class>org.opencrx.groupware.ical.servlet.FreeBusyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ICalServlet</servlet-name>
		<servlet-class>org.opencrx.groupware.ical.servlet.ICalServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ICalServlet</servlet-name>
		<url-pattern>/ical</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FreeBusyServlet</servlet-name>
		<url-pattern>/freebusy</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ical</web-resource-name>
			<description>ical</description>
			<url-pattern>/ical</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>CRX</realm-name>
	</login-config>
	<security-role>
		<description>An openCRX user</description>
		<role-name>OpenCrxUser</role-name>
	</security-role>	
	<ejb-ref id="ejb_data">
		<ejb-ref-name>ejb/data</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>org.openmdx.compatibility.application.dataprovider.transport.ejb.cci.Dataprovider_1Home</home>
		<remote>org.openmdx.compatibility.application.dataprovider.transport.ejb.cci.Dataprovider_1_0Remote</remote>
	</ejb-ref>
</web-app>
